/* ========================================================================== */
/* TABLE OF CONTENTS */
/* ========================================================================== */
/* 

global variables
css variables
menu 

/* ========================================================================== */
/* GLOBAL START */
/* ========================================================================== */
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	border-color: black;
}

/* GLOBAL END */

/* ========================================================================== */
/* VARIABLES START  */
/* ========================================================================== */

:root {
	--fonts: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	/* header color alpha value should be 1, but having problems with Pure CSS, setting to transparent for now*/
	--header-color: rgba(211, 211, 211, 0);
}
/* VARIABLES END */

/* ========================================================================== */
/* MENU STYLES START */
/* ========================================================================== */

.home-menu {
	padding: 0.5em;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	font-family: var(--fonts);
}
.home-menu {
	background: var(--header-color);
}
.pure-menu.pure-menu-fixed {
	/* Fixed menus normally have a border at the bottom. */
	border-bottom: none;
	/* z-index: 4; */
}

.home-menu .pure-menu-heading {
	font-weight: 400;
	font-size: 120%;
}

.home-menu .pure-menu-selected a {
	color: white;
}

.home-menu a {
	color: #6fbef3;
}
.home-menu li a:hover,
.home-menu li a:focus {
	background: none;
	border: none;
	color: #aecfe5;
}

/* -- MENU STYLES END -- */

/* ========================================================================== */
/* BOARD STYLES START */
/* ========================================================================== */

/* using ID selector because it's unique */
#board {
	/* width: 100vw; */
	/* height: 100vh; */
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(3, auto);
	/* background-color: black; */
}
/* BOARD STYLES END */

/* ========================================================================== */
/* CELL STYLES START */
/* ========================================================================== */

.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 6px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	/* cursor: pointer; */
}
.cell img {
	margin: 5px;
	height: 200px;
}

.cell img:hover {
	filter: saturate(200%);
	cursor: pointer;
	/* It would be nice if image size changed a bit when you hover over, but that's also now changing the border as well */
	/* height: 150px; */
	transition: all 300ms ease;
}

/* `cell applied to all 9 boxes on the tic-tac-toe board */

/* BOARD STYLES END */

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(3n + 1) {
	border-left: none;
}

.cell:nth-child(3n + 3) {
	border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
	border-bottom: none;
}
/* CELL STYLES END */
